*.mp4 filter=lfs diff=lfs merge=lfs -text
horizons_export/public/videos/Roomify_demo.mp4 filter=lfs diff=lfs merge=lfs -text
horizons_export/public/videos/roomify_demo.mp4 filter=lfs diff=lfs merge=lfs -text
